* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}


/* button style */
.button-container {
  padding-top: 5vh;
}



/* Grid style */
.grid-container {
  max-width: 70vw;
  max-height: 70vw;
  border: solid 1px rgb(83, 206, 130);
  box-shadow: 14px 12px 29px 0px rgba(0,0,0,0.35);
  
}

.grid-row {
  display: flex;
}

.grid-col-box {
  /* background-color: aquamarine; */
  /* height: 5vw; */
  /* width: 5vw; */
  flex: 1 0 auto;
  border: solid 1px rgb(0, 0, 0);
}
